* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.e109_230 {
    width: 242px;
    height: 1024px;
    position: absolute;
}

.e109_171 {
    width: 242px;
    height: 1024px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei109_171_1_355 {
    background-color: rgba(35.00000171363354, 102.00000151991844, 181.0000044107437, 1);
    width: 242px;
    height: 1024px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei109_171_1_356 {
    width: 242px;
    height: 52px;
    position: absolute;
    left: 0px;
    top: 390px;
}

.ei109_171_1_357 {
    background-color: rgba(255, 255, 255, 1);
    width: 242px;
    height: 52px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei109_171_1_358 {
    background-color: rgba(8.895405326038599, 173.74043315649033, 7.026670826599002, 1);
    width: 6px;
    height: 52px;
    position: absolute;
    left: 236px;
    top: 0px;
}

.ei109_171_1_359 {
    width: 115px;
    height: 418.20001220703125px;
    position: absolute;
    left: 62.84210205078125px;
    top: 32.89999389648438px;
}

.ei109_171_1_360 {
    width: 115px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 161px;
}

.ei109_171_1_361 {
    background-color: rgba(255, 255, 255, 1);
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 2.5px;
}

.ei109_171_1_362 {
    color: rgba(255, 255, 255, 1);
    width: 87px;
    height: 23px;
    position: absolute;
    left: 15px;
    top: 0px;
    font-family: Quicksand;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei109_171_1_363 {
    width: 113px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 240px;
}

.ei109_171_1_364 {
    width: 18px;
    height: 15.92238998413086px;
    position: absolute;
    left: 0px;
    top: 3.5388050079345703px;
}

.i109_171_1_365 {
    border: 1.5384639501571655px solid rgba(255, 255, 255, 1);
}

.ei109_171_1_365 {
    width: 18px;
    height: 12.46153736114502px;
    position: absolute;
    left: 0px;
    top: 3.460852861404419px;
}

.i109_171_1_366 {
    border: 1.5384639501571655px solid rgba(255, 255, 255, 1);
}

.ei109_171_1_366 {
    width: 15.722307205200195px;
    height: 6.230072975158691px;
    position: absolute;
    left: 0.000054931555496295914px;
    top: 0px;
}

.ei109_171_1_367 {
    background-color: rgba(255, 255, 255, 1);
    width: 2.7692315578460693px;
    height: 2.7692315578460693px;
    position: absolute;
    left: 12.461498260498047px;
    top: 8.307010650634766px;
}

.ei109_171_1_368 {
    color: rgba(255, 255, 255, 1);
    width: 85px;
    height: 23px;
    position: absolute;
    left: 15px;
    top: -5px;
    font-family: Quicksand;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei109_171_1_369 {
    width: 95.99994659423828px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 158px;
}

.ei109_171_1_370 {
    width: 19.999948501586914px;
    height: 14.790528297424316px;
    position: absolute;
    left: 0px;
    top: 4.104735851287842px;
}

.ei109_171_1_371 {
    background-color: rgba(73.60720306634903, 143.96073192358017, 225.99086701869965, 1);
    width: 15.513513565063477px;
    height: 5.817567348480225px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei109_171_1_372 {
    transform: rotate(-180deg);
    background-color: rgba(73.60720306634903, 143.96073192358017, 225.99086701869965, 1);
    width: 15.513513565063477px;
    height: 5.817567348480225px;
    position: absolute;
    left: 19.999948501586914px;
    top: 0px;
}

.ei109_171_1_373 {
    color: rgba(255, 255, 255, 1);
    width: 69px;
    height: 23px;
    position: absolute;
    left: 15px;
    top: 147px;
    font-family: Quicksand;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei109_171_1_374 {
    width: 92.57142639160156px;
    height: 23.199996948242188px;
    position: absolute;
    left: 0px;
    top: 237px;
}

.ei109_171_1_375 {
    width: 16.571428298950195px;
    height: 23.199996948242188px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei109_171_1_376 {
    background-color: rgba(255, 255, 255, 1);
    width: 16.571428298950195px;
    height: 23.199996948242188px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei109_171_1_377 {
    background-color: rgba(255, 255, 255, 1);
    width: 9.942855834960938px;
    height: 1.6571428775787354px;
    position: absolute;
    left: 3.31427001953125px;
    top: 16.571414947509766px;
}

.ei109_171_1_378 {
    background-color: rgba(255, 255, 255, 1);
    width: 9.942855834960938px;
    height: 1.6571428775787354px;
    position: absolute;
    left: 3.31427001953125px;
    top: 11.59998607635498px;
}

.ei109_171_1_379 {
    color: rgba(73.60720306634903, 143.96073192358017, 225.99086701869965, 1);
    width: 66px;
    height: 23px;
    position: absolute;
    left: 15px;
    top: 134px;
    font-family: Quicksand;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei109_171_1_380 {
    width: 78.33332824707031px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 316.20001220703125px;
}

.ei109_171_1_381 {
    width: 21.333332061767578px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 3.5px;
}

.ei109_171_1_382 {
    background-color: rgba(255, 255, 255, 1);
    width: 21.333332061767578px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei109_171_1_383 {
    background-color: rgba(255, 255, 255, 1);
    width: 4px;
    height: 4px;
    position: absolute;
    left: 2.666767120361328px;
    top: 9.333333969116211px;
}

.ei109_171_1_384 {
    color: rgba(255, 255, 255, 1);
    width: 50px;
    height: 23px;
    position: absolute;
    left: 15px;
    top: 125px;
    font-family: Quicksand;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei109_171_1_385 {
    width: 90px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 395.20001220703125px;
}

.ei109_171_1_389 {
    color: rgba(255, 255, 255, 1);
    width: 90px;
    height: 23px;
    position: absolute;
    left: 15px;
    top: 110px;
    font-family: Quicksand;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei109_171_1_390 {
    width: 77px;
    height: 23px;
    position: absolute;
    left: 60.5px;
    top: 837px;
}

.ei109_171_1_391 {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0px;
    top: 0.5px;
}

.ei109_171_1_392 {
    background-color: rgba(255, 255, 255, 1);
    width: 8px;
    height: 8px;
    position: absolute;
    left: 7px;
    top: 4px;
}

.ei109_171_1_393 {
    background-color: rgba(255, 255, 255, 1);
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei109_171_1_394 {
    color: rgba(255, 255, 255, 1);
    width: 50px;
    height: 23px;
    position: absolute;
    left: 27px;
    top: 0px;
    font-family: Quicksand;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei109_171_1_395 {
    background-color: rgba(255, 255, 255, 1);
    width: 122px;
    height: 29px;
    position: absolute;
    left: 43px;
    top: 905px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.ei109_171_1_396 {
    background-color: rgba(35.00000171363354, 102.00000151991844, 181.0000044107437, 1);
    width: 13.75px;
    height: 13.75px;
    position: absolute;
    left: 11.875px;
    top: 7.625px;
}

.ei109_171_1_397 {
    color: rgba(35.00000171363354, 102.00000151991844, 181.0000044107437, 1);
    width: 75px;
    height: 19px;
    position: absolute;
    left: 35.125px;
    top: 5px;
    font-family: Quicksand;
    text-align: left;
    font-size: 15px;
    letter-spacing: 0;
}

.ei109_171_1_398 {
    width: 88.87786865234375px;
    height: 23px;
    position: absolute;
    left: 62px;
    top: 774px;
}

.ei109_171_1_399 {
    width: 20.877866744995117px;
    height: 21.443119049072266px;
    position: absolute;
    left: 0px;
    top: 0.7784404754638672px;
}

.ei109_171_1_400 {
    background-color: rgba(255, 255, 255, 1);
    width: 20.877866744995117px;
    height: 21.443119049072266px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei109_171_1_401 {
    background-color: rgba(255, 255, 255, 1);
    width: 9.21623420715332px;
    height: 9.21623420715332px;
    position: absolute;
    left: 5.826953887939453px;
    top: 6.113581657409668px;
}

.ei109_171_1_402 {
    color: rgba(255, 255, 255, 1);
    width: 62px;
    height: 23px;
    position: absolute;
    left: 26.877866744995117px;
    top: 0px;
    font-family: Quicksand;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei109_171_1_403 {
    width: 71.76333618164062px;
    height: 83.50567626953125px;
    position: absolute;
    left: 80px;
    top: 28px;
}

.ei109_171_1_404 {
    width: 70.6744384765625px;
    height: 77.64351654052734px;
    position: absolute;
    left: 0.07935155183076859px;
    top: 4.928106307983398px;
}

.ei109_171_1_405 {
    width: 16.645112991333008px;
    height: 34.31787109375px;
    position: absolute;
    left: 25.767093658447266px;
    top: 0px;
}

.ei109_171_1_406 {
    width: 24.125139236450195px;
    height: 18.687055587768555px;
    position: absolute;
    left: 0px;
    top: 43.73427200317383px;
}

.ei109_171_1_407 {
    width: 5.774813652038574px;
    height: 7.52644157409668px;
    position: absolute;
    left: 0.2245306670665741px;
    top: 53.25320053100586px;
}

.ei109_171_1_408 {
    width: 71.54174041748047px;
    height: 81.86422729492188px;
    position: absolute;
    left: 0.22159776091575623px;
    top: 1.6414527893066406px;
}

.i109_171_1_409 {
    border: 2.0022008419036865px solid rgba(255, 255, 255, 1);
}

.ei109_171_1_409 {
    width: 55.86981201171875px;
    height: 81.86422729492188px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.i109_171_1_410 {
    border: 2.0022008419036865px solid rgba(255, 255, 255, 1);
}

.ei109_171_1_410 {
    width: 49.28141784667969px;
    height: 41.06662368774414px;
    position: absolute;
    left: 22.26034927368164px;
    top: 3.2866265773773193px;
}

.v1_92 {
    width: 100%;
    height: 1024px;
    background: rgba(250, 251, 253, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v109_276 {
    width: 350px;
    height: 34px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 219px;
    left: 945px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
}

.v109_279 {
    width: 349px;
    height: 34px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 297px;
    left: 448px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
}

.v1_94 {
    width: 114px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 89px;
    left: 284px;
    font-family: Quicksand;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: left;
}

.v1_95 {
    width: 229px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 495px;
    left: 284px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}

.v1_96 {
    width: 67px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 555px;
    left: 306px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v1_97 {
    width: 94px;
    height: 29px;
    background: rgba(35, 102, 181, 1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 547px;
    left: 398px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}

.v1_98 {
    width: 35px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 5px;
    left: 20px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v1_99 {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 65px;
    overflow: hidden;
}

.v1_100 {
    width: 8px;
    height: 5px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
}

.v110_285 {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 320px;
    left: 785px;
    overflow: hidden;
}

.v110_286 {
    width: 8px;
    height: 5px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
}

.v110_287 {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 244px;
    left: 1286px;
    overflow: hidden;
}

.v110_288 {
    width: 8px;
    height: 5px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
}

.v1_102 {
    width: 825px;
    height: 349px;
    background: url("../images/v1_102.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 589px;
    left: 284px;
    overflow: hidden;
}

.v1_103 {
    width: 825px;
    height: 349px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v1_104 {
    width: 825px;
    height: 51px;
    background: rgba(35, 102, 181, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
}

.v1_105 {
    width: 41px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 15px;
    left: 157px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v1_106 {
    width: 39px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 15px;
    left: 39px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v1_107 {
    width: 58px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 15px;
    left: 423px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v1_108 {
    width: 67px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 15px;
    left: 654px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v1_109 {
    width: 764px;
    height: 183px;
    background: url("../images/v1_109.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 38px;
    opacity: 1;
    position: absolute;
    top: 80px;
    left: 24px;
    overflow: hidden;
}

.v1_110 {
    width: 671px;
    height: 17px;
    background: url("../images/v1_110.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v1_111 {
    width: 61px;
    height: 17px;
    background: rgba(208, 1, 27, 0.2199999988079071);
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 82px;
    border-top-right-radius: 82px;
    border-bottom-left-radius: 82px;
    border-bottom-right-radius: 82px;
    overflow: hidden;
}

.v1_112 {
    width: 26px;
    color: rgba(208, 1, 27, 1);
    position: absolute;
    top: 2px;
    left: 17px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v1_113 {
    width: 50px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 132px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_114 {
    width: 92px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1px;
    left: 240px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_115 {
    width: 112px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 400px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_116 {
    width: 42px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 629px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_117 {
    width: 764px;
    height: 17px;
    background: url("../images/v1_117.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 55px;
    left: 0px;
    overflow: hidden;
}

.v1_118 {
    width: 61px;
    height: 17px;
    background: rgba(208, 1, 27, 0.2199999988079071);
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 82px;
    border-top-right-radius: 82px;
    border-bottom-left-radius: 82px;
    border-bottom-right-radius: 82px;
    overflow: hidden;
}

.v1_119 {
    width: 26px;
    color: rgba(208, 1, 27, 1);
    position: absolute;
    top: 2px;
    left: 17px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v1_120 {
    width: 115px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 398px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_121 {
    width: 92px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1px;
    left: 240px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_122 {
    width: 49px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 629px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_123 {
    width: 47px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 132px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_124 {
    width: 3px;
    height: 12px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 761px;
}

.v1_125 {
    width: 764px;
    height: 17px;
    background: url("../images/v1_125.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 110px;
    left: 0px;
    overflow: hidden;
}

.v1_126 {
    width: 61px;
    height: 17px;
    background: rgba(75, 217, 200, 0.2199999988079071);
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 82px;
    border-top-right-radius: 82px;
    border-bottom-left-radius: 82px;
    border-bottom-right-radius: 82px;
    overflow: hidden;
}

.v1_127 {
    width: 33px;
    color: rgba(1, 158, 208, 1);
    position: absolute;
    top: 2px;
    left: 14px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v1_128 {
    width: 41px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 398px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_129 {
    width: 47px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 629px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_130 {
    width: 47px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 132px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_131 {
    width: 92px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1px;
    left: 240px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_132 {
    width: 3px;
    height: 12px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 761px;
}

.v1_133 {
    width: 764px;
    height: 17px;
    background: url("../images/v1_133.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 165px;
    left: 0px;
    overflow: hidden;
}

.v1_134 {
    width: 61px;
    height: 17px;
    background: rgba(208, 1, 27, 0.2199999988079071);
    margin: 8px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 82px;
    border-top-right-radius: 82px;
    border-bottom-left-radius: 82px;
    border-bottom-right-radius: 82px;
    overflow: hidden;
}

.v1_135 {
    width: 26px;
    color: rgba(208, 1, 27, 1);
    position: absolute;
    top: 2px;
    left: 17px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v1_136 {
    width: 115px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 398px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_137 {
    width: 49px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 629px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_138 {
    width: 47px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0px;
    left: 132px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_139 {
    width: 92px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1px;
    left: 240px;
    font-family: Quicksand;
    font-weight: Medium;
    font-size: 12px;
    opacity: 1;
    text-align: left;
}

.v1_140 {
    width: 3px;
    height: 12px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 761px;
}

.v1_141 {
    width: 3px;
    height: 12px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 671px;
    left: 1070px;
}

.v1_142 {
    width: 60px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 604px;
    left: 549px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 16px;
    opacity: 1;
    text-align: left;
}

.v1_143 {
    width: 229px;
    height: 26px;
    background: url("../images/v1_143.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 955px;
    left: 284px;
    overflow: hidden;
}

.v1_144 {
    width: 50px;
    height: 26px;
    background: rgba(228, 228, 228, 1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
}

.v1_145 {
    width: 20px;
    color: rgba(158, 158, 158, 1);
    position: absolute;
    top: 7px;
    left: 15px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v1_146 {
    width: 28px;
    height: 26px;
    background: rgba(35, 102, 181, 1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 55px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
}

.v1_147 {
    width: 4px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 7px;
    left: 12px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v1_148 {
    width: 28px;
    height: 26px;
    background: rgba(255, 255, 255, 1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 88px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
}

.v1_149 {
    width: 6px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 7px;
    left: 11px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v1_150 {
    width: 28px;
    height: 26px;
    background: rgba(255, 255, 255, 1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 121px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
}

.v1_151 {
    width: 6px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 7px;
    left: 11px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v1_152 {
    width: 28px;
    height: 26px;
    background: rgba(255, 255, 255, 1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 154px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
}

.v1_153 {
    width: 5px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 7px;
    left: 11px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.v1_154 {
    width: 42px;
    height: 26px;
    background: rgba(255, 255, 255, 1);
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 187px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
}

.v1_155 {
    width: 21px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 7px;
    left: 10px;
    font-family: Quicksand;
    font-weight: Light;
    font-size: 9px;
    opacity: 1;
    text-align: left;
}

.name {
    color: #fff;
}

.v109_230 {
    width: 242px;
    height: 1024px;
    background: url("../images/v109_230.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.name {
    color: #fff;
}

.v109_262 {
    width: 346px;
    color: rgba(49, 130, 206, 1);
    position: absolute;
    top: 137px;
    left: 656px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.name {
    color: #fff;
}

.v109_264 {
    width: 98px;
    color: url("../images/v109_264.png");
    position: absolute;
    top: 194px;
    left: 445px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v109_265 {
    width: 98px;
    color: url("../images/v109_265.png");
    position: absolute;
    top: 194px;
    left: 943px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v109_266 {
    width: 553px;
    height: 4px;
    background: url("../images/v109_266.png");
    opacity: 1;
    position: absolute;
    top: 427px;
    left: 553px;
    border: 1px solid rgba(241, 244, 248, 1);
}

.v109_267 {
    width: 80px;
    height: 26px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 400px;
    left: 821px;    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}

.v109_268 {
    width: 52px;
    height: 26px;
    background: rgba(246, 23, 23, 1);
    opacity: 1;
    position: absolute;
    top: 400px;
    left: 759px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}

.v109_269 {
    width: 58px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 405px;
    left: 832px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v109_270 {
    width: 25px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 404px;
    left: 773px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v109_271 {
    width: 25px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 407px;
    left: 843px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v109_272 {
    width: 25px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 404px;
    left: 844px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v109_273 {
    width: 80px;
    height: 26px;
    background: rgba(49, 130, 206, 1);
    opacity: 1;
    position: absolute;
    top: 400px;
    left: 818px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
}

.v109_274 {
    width: 58px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 405px;
    left: 829px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}

.v109_275 {
    width: 350px;
    height: 34px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 221px;
    left: 447px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
}

.v109_277 {
    width: 98px;
    color: url("../images/v109_277.png");
    position: absolute;
    top: 270px;
    left: 446px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v109_278 {
    width: 158px;
    color: url("../images/v109_278.png");
    position: absolute;
    top: 268px;
    left: 945px;
    font-family: Inter;
    font-weight: Medium;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v109_280 {
    width: 284px;
    color: rgba(246, 23, 23, 1);
    position: absolute;
    top: 350px;
    left: 447px;
    font-family: Inter;
    font-weight: Medium Italic;
    font-size: 15px;
    opacity: 1;
    text-align: left;
}

.v109_283 {
    width: 349px;
    height: 34px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 295px;
    left: 946px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
}